# SQL-055
by Suvidha Paramal

<br>
<br>

--- 
---
<br>
<br>

#  16.05.24 Class 2

## INSTALLATION
> They must be downloaded first!
- Oracle
    - Double click setup
    - Accept "Agreement"
    - set "Password"
    - INSTALL
- SQLdeveloper
    - Simply download and install
<br>
<br>
<br>
<br>

*Important steps in command prompt ahead* : Open "command prompt" and follow :
- sqlplus / as sysdba ;     
    - return ***" SQL >"** cursor.*
- alter user hr identify by hr ;    
    - return ***"user altered"***.
- alter user "hr" account unlock
    - return ***"user altered"***.
- conn hr/hr

Do this after opening  **SQLdeveloper**
<br>
<br>
![alt](images/create_conn.PNG)

#  17.05.24 Class 3
[This link contains all the basics to learn about SQL](https://www.w3schools.com/sql/default.asp)

> SQL is case-sensetive 

> Only single query at a time.

> -- this is how comment in SQL

> null = unknown data or at times nothing.

> avoid using "" use ''.

## What is SQL?
SQL is a standard language for storing, manipulating and retrieving data in databases.

### What are SQL languages? Types of COMMANDS?
![SQLcommands](images/SQLcommands.png)

### What is **DESCRIBE** ?
<br>
Describes the table by by returning a short info.
<br>

![DESCRIBE](images/DESCRIBE.PNG)

### How to concatenate by **"||"** ?
it's used  to merge columns for reference i,e. tempararily w/t a new name.

In [ ]:
SELECT first_name || ' ' || last_name AS full_name
FROM employees;

![|| o/p](images/ll%20op.PNG)

### **GROUP BY** vs **DISTINCT** vs **UNIQUE** ?

**GROUP BY**
- *Purpose*: 
    - Aggregate data based on one or more columns.
- *Syntax*:
    - Often used with aggregate functions like SUM(), COUNT(), etc.

**DISTINCT**
- *Purpose*:
    - Return unique values from a column or combination of columns.
- *Syntax:*
    -  Used in the SELECT statement.

**UNIQUE**
- *Purpose*:
    -  Enforce unique values in a column at the table level.
- *Syntax*:
    -  Defined in table creation or altered later.

<br>
<br>
<br>

<u> ***Key Differences***</u>

*Scope*:

- GROUP BY: Aggregates query results.
- DISTINCT: Filters duplicates in query results.
- UNIQUE: Ensures uniqueness in table columns.

*Usage*:

- GROUP BY: Aggregate results by columns.
- DISTINCT: Remove duplicates in query results.
- UNIQUE: Enforce data integrity in tables.
<br>
<br>
<br>
Examples below:

In [ ]:
-- GROUPBY
SELECT department, COUNT(*)
FROM employees
GROUP BY department;

In [ ]:
-- DISTINCT
SELECT DISTINCT department
FROM employees;

In [ ]:
-- UNIQUE
CREATE TABLE employees (
    id INT PRIMARY KEY,
    email VARCHAR(255) UNIQUE
);